{% extends "base.html" %}

{% block head %}
<title>Stritzel Orders Production</title>
{% endblock %}


{% block body %}
<h1>Stritzel Orders</h1>

<div class="container">

    <div class="left">
        <h2>Current Orders:</h2>
        <div id="order-list">
            <!-- Orders will be added here dynamically using JavaScript -->
        </div>
    </div>

    <div class="right">
        <button class="button" id="removeButton">Remove Oldest Order</button>
    </div>
</div>

<button class="button website-link" onclick="window.location.href='/service'">switch mode</button>

{% endblock %}