{% extends "base.html" %}

{% block head %}
<title>Stritzel Orders Service</title>
{% endblock %}
    

{% block body %}
<h1>Stritzel Orders</h1>
<div class="container">
    <div class="left">
            <table>
                <tr>
                    <th>Outside</th>
                    <th></th>
                </tr>
                {% for key, name in stritzel_outside_sorts.items() %}
                    <tr>
                        <td>
                            {{ name }}
                        </td>
                        <td>
                            <input type="radio" name="selected_outside" class="selected_outside" value="{{ key }}" {% if key == '0' %}checked{% endif %}>
                        </td>
                    </tr>
                {% endfor %}
            </table>
                
            <table>
                <tr>
                    <th>Inside</th>
                    <th></th>
                </tr>
                {% for key, name in stritzel_inside_sorts.items() %}
                    <tr>
                        <td>
                            {{ name }}
                        </td>
                        <td>
                            <input type="radio" name="selected_inside" class="selected_inside" value="{{ key }}" {% if key == "0" %}checked{% endif %}>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <button class="button" id="sendButton">Submit Order</button>
    </div>

    <div class="right">
        <h2>Current Orders:</h2>
        <div id="order-list">
            <!-- Orders will be added here dynamically using JavaScript -->
        </div>
    </div>
</div>
</div>

<button class="button website-link" onclick="window.location.href='/production'">switch mode</button>



{% endblock %}